*
{
    padding: 0;
    margin: 0;
}

body
{
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
}

main
{
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/ZyzzTheme.png');
    background-size: 100% 100%;
}

nav
{
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav img
{
    height: 100%;
    width: 100%;
    max-width: 260px;
    max-height: 300px;
}

#NavigationItems
{
    width: 80%;
    height: 120px;
    /* background-color: rgb(255, 0, 0, 0.7); */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NavigationItem
{
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.NavigationItem a, .NavigationItem p
{
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

#BasketContainer
{
    width: 10%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#BasketContainer p 
{
    font-size: 50px;
    margin-left: 40px;
}