*
{
    padding: 0;
    margin: 0;
}

body
{
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
}

main
{
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/ZyzzTheme.png');
    background-size: 100% 100%;
}